@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #11001F;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

*{
  font-family: Outfit;
}

nav > ul > li > a {
  font-family: Ovo;
}

.font-Ovo {
  font-family: Ovo;
}

.shadowLightMode:hover {
  box-shadow: 4px 4px 0 #000;
}


.dark .shadowLightMode {
  background-color: #11001F;
}

.shadowDarkMode {
  box-shadow: 4px 4px 0 #fff;
}

.lightHover:hover {
  background-color: #fcf4ff;
}

.dark .lightHover:hover {
  background-color: #000;
}

.dark .borderDarkMode {
  border: 2px solid #fff;
}

.dark .whiteText {
  color: #ffff;
}
.dark .blackText {
  color: #000;
}

.darkHover {
  background-color: #2a004a;
}

.gridColAuto {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


